<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Show Page</title>
</head>
<body>
    <a href="/foods">back</a>
    <h1>At food bar</h1>
    <h2>Name: <%= foods.name%></h2>
    <h3>Price: <%= foods.price%></h3>
    <img src="<%= foods.image%>" alt="image of the food">
    
</body>
    <style>
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }
    </style>
</html>